*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    height: 40px;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container{
    line-height: 30px;
}

.input-container #genera{
    padding: 5px 10px 5px;
    background-color: goldenrod;
    border: 1px solid goldenrod;
    cursor: pointer;
}

.input-container #elimina{
    padding: 5px 10px 5px;
    color: white;
    background-color: red;
    border: 1px solid red;
    cursor: pointer;
}

main{
    background-color: #7FFFD4;
    width: 100%;
    height: 550px;
}

#grid{
    width: 500px;
    height: 500px;
    margin: 50px auto 0px;
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.square{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square-number{
    display: none;
}

.clicked{
    background-color: royalblue;
}

.clicked .square-number{
    display: block;
}

.text{
    margin: 30px 0;
}

.hard {
    width: calc(100% / 7);
    height: calc(100% / 7);
}
  
.medium {
    width: calc(100% / 9);
    height: calc(100% / 9);
}
  
.easy {
    width: calc(100% / 10);
    height: calc(100% / 10);
}




